body {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    background-image: url(./images/pawel-nolbert-62OK9xwVA0c-unsplash.jpg);
    position: relative;
    background-position: 75%;
    overflow-x: hidden;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100vh;
    position: relative;
    z-index: 1;
}

h1 {
    color: #fff;
}

#hero {
    height: 31.25 rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin-top: 0.625rem;
}

.signTitle {
    margin-top: 1.5625rem;
}

.signTitle, .signTraits {
    opacity: 0;
   -webkit-animation: fadeIn .5s linear forwards;
   -moz-animation: fadeIn .5s linear forwards;
   animation: fadeIn .5s linear forwards;

}

@keyframes fadeIn  {
    to {
        opacity: 1;
    }
}

.mini-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.125rem;
}

#content {
    margin-top: 14.375rem;
}


.signTitle {
    text-align: center;
}

.btn {
    font-size: 2.5rem;
    padding: none;
    margin: 0.375rem 0.375rem;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}



.btn:last-child {
    margin-left: 0.625rem;
}

.btn:nth-child(11) {
    margin-left: 0.625rem;
}

.btn-danger {
    transition: .5s ease-in;
}

.btn-danger:hover {
    background-color: red;
    color: #fff;
}

/* 1400px screen size */
@media (min-width: 87.5rem) {
    .overlay {
        height: 150vh;
    }
    .signTraits {
        text-align: center;
    }
}


/* 1200px screen size*/
@media (max-width: 75rem) {
    .overlay {
        height: 150vh;
    }
    .signTraits {
        text-align: center;
    }
}

/* 992px screen size*/
@media (max-width: 62rem) {
    .btn:last-child {
        margin-left: 0.625rem;
    }
    .btn:nth-child(11) {
        margin-left: 0.375rem;
    }
    #title-name {
        text-align: center;
    }
    #hero {
        margin-left: none;
    }
    #title-name {
        margin-right: 2.875rem;
    }
    .signTraits {
        text-align: center;
    }
}



/* 768px screen size */
@media (max-width: 48rem) {
    .btn:last-child {
        margin-left: 0.6875rem;
    }
    .btn:nth-child(11) {
        margin-left: 0.6875rem;
    }
    #title-name {
        text-align: center;
    }
    .overlay {
        height: 150vh;
    }
    .signTraits {
        text-align: center;
    }
}

/* 576px screen size*/
@media (max-width: 36rem) {
    #content {
        padding-left: 3.5rem;
    }
    .overlay {
        width: fit-content;
    }
    .signTraits {
        text-align: center;
    }
}


